{% extends "base.html" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
    <th scope="col">Data</th>
    <th scope="col">Mecz</th>
    <th scope="col">Wynik</th>
    <th scope="col">Twój typ</th>
    <th scope="col">Typ</th>
    <th scope="col">Punkty</th>
    </tr>
    </thead>
    <tbody>
    {% for m in matches %}
    <tr>
    <td class="td_color">{{ m.date[:-3] }}</td>
    <td>
        <img style="height:80%;" src={{ "/static/flags/" + m.home.replace(' ','_') + ".png" }} />
        {{ m.home + " - " + m.away  }}
        <img style="height:80%;" src={{ "/static/flags/" + m.away.replace(' ','_')  + ".png" }} />
    </td>
    {% if m.home_score is not none %}
    <td>{{ m.home_score|string + " : " + m.away_score|string }}</td>
    {% else %}
    <td>{{ "Brak" }}</td>
    {% endif %}
    {% if m.home_score_bet is not none %}
    <td>{{ m.home_score_bet|string + " : " + m.away_score_bet|string }}</td>
    {% else %}
    <td>{{ "Brak" }}</td>
    {% endif %}
    <td>
        {% if m.dostepny == 1 %}
        <form method="POST" action={{ url_for('typuj_mecz', match_id=m.id) }}>
            <div class="input-group">
                <input class="form-control input-sm" style="width:40px;" type="number" min="0" max="99" placeholder="0" name="home_score">
                <input class="form-control input-sm" style="width:40px;" type="number" min="0" max="99" placeholder="0" name="away_score">
                <button class="typuj_button" type="submit">Typuj</button>
            </div>
        </form>
        {% endif %}
    </td>
    <td>{{ m.points }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}