{% extends "base.html" %}

{% block content %}

<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
</div> 

<table class="table" style="width:50%">
    <thead>
    <tr>
    <th scope="col">Ranking</th>
    <th scope="col">Użytkownik</th>
    <th scope="col">Punkty</th>
    </tr>
    </thead>
    <tbody>
    {% for u in users %}
    <tr>
    <td>{{ u.ranking }}</td>
    <td>{{ u.login }}</td>
    <td>{{ u.points }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
<div class="login-container" id="rejestracja">
    <form method="POST" action={{ url_for('create_group') }}>
      <input type="text" placeholder="Kod zapraszającego" name="new_group_name"><br><br>
      <button type="submit">Dołącz do grupy</button>
    </form>
</div>


{% endblock %}