{% extends "base.html" %}

{% block content %}

<div class="dropdown">
    <button class="dropbtn">Wybierz grupę</button>
    <div class="dropdown-content">
      {% for g in groups %}
      <a href="{{ url_for('group_leaderboard', group_id=g.id) }}">{{ g.nazwa }}</a>
      {% endfor %}
    </div>
</div>


<table class="table" style="width:50%">
    <thead>
    <tr>
    <th scope="col">Ranking</th>
    <th scope="col">Użytkownik</th>
    <th scope="col">Punkty</th>
    </tr>
    </thead>
    <tbody>
    {% for u in users %}
    <tr>
    <td>{{ u.ranking }}</td>
    <td>{{ u.login }}</td>
    <td>{{ u.points }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br><br>
<div class="login-container" id="rejestracja">
    <form method="POST" action={{ url_for('join_group') }}>
      <input type="text" placeholder="Kod zapraszającego" name="kod"><br><br>
      <button type="submit">Dołącz do grupy</button>
    </form>
</div>


{% endblock %}