{% extends "base.html" %}

{% block content %}

<div class="login-container" id="rejestracja">
    <form method="POST" action={{ url_for('signup') }}>
      <input type="text" placeholder="Login" name="login"><br>
      <input type="text" placeholder="Email" name="email"><br>
      <input type="password" placeholder="Hasło" name="psw"><br>
      <input type="password" placeholder="Powtórz hasło" name="psw2"><br><br>
      <button type="submit">Rejestracja</button>
    </form>
</div>


{% endblock %}